<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-img class="ion-col-sm-2" src="assets/icon/logo-veloz.svg" alt="Logo" style="width:50px; padding-left: 10px;"></ion-img>
      <ion-title>Oooops! :(</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">error</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <br>
  <div class="gif-error ion-no-border ion-padding-top">
    <div>
      <ion-img src="assets/404-error-page.gif" alt="error"></ion-img>
      <!--https://paletadecolores.online/frios/-->
    </div>  
  </div>

  <div class="login-form ion-text-center ion-no-border ion-padding-top">
    <h1>Error 404</h1>
  </div>
  <div class="ion-text-center ion-no-border" 
  style="
  display: flex;
    flex-direction: column; /* Alinear verticalmente el contenido en columnas */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Cambia este valor según tus necesidades */
    max-width: 260px; /* Opcional: Establece un ancho máximo para el div */
    margin: 0 auto; /* Centrar horizontalmente */">    
    <p>Lo sentimos, la página que estás buscando no se encuentra aquí,
    pero estamos trabajando para solucionarlo.</p>
  </div>
</ion-content>
