<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil - Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="user-card" *ngFor="let x of usuario">
    <br>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-card-content>
      <ion-label>
        <p>Usuario</p>
        <i><h3>{{ x.usuario }}</h3></i>
        <p>Nombre</p>
        <i><h3>{{ x.nombre }} {{ x.apellido }}</h3></i>
        <p>Rol</p>
        <i><h3>Usuario</h3></i>
      </ion-label>
    </ion-card-content>
    <div class="botones-contenedor">
      <ion-button class="boton-ancho" (click)="anadirAuto()">Añadir Auto</ion-button>
      <ion-button class="boton-ancho" (click)="editarInformacion(x)">Editar información</ion-button>
      <ion-button class="boton-ancho" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </div>
  </ion-card>
  
</ion-content>
